schema_on_basis_of_10-3_volume.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="volume">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="decimal"/>
      </attribute>
      <element name="volume-author">
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        </attribute>
      </element>
      <element name="volume-title">
        <empty/>
      </element>
      <element name="volume-contents">
        <empty/>
      </element>
      <element name="preface">
        <data type="NCName"/>
      </element>
      <element name="comic-author">
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
        <element name="name">
          <empty/>
        </element>
        <element name="introduction">
          <ref name="p"/>
        </element>
        <element name="comedy">
          <attribute>
            <name ns="http://www.w3.org/XML/1998/namespace">id</name>
            <data type="NCName"/>
          </attribute>
          <element name="comedy-title">
            <oneOrMore>
              <choice>
                <text/>
                <element name="ab">
                  <text/>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="comedy-introduction">
            <ref name="discussions"/>
            <oneOrMore>
              <ref name="section"/>
            </oneOrMore>
          </element>
          <element name="comedy-testimonia">
            <oneOrMore>
              <element name="testimonium">
                <optional>
                  <attribute name="n"/>
                </optional>
                <optional>
                  <attribute>
                    <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                  </attribute>
                </optional>
                <oneOrMore>
                  <choice>
                    <text/>
                    <element name="testimonium-commentary">
                      <ref name="discussions"/>
                      <oneOrMore>
                        <ref name="section"/>
                      </oneOrMore>
                    </element>
                    <element name="testimonium-number">
                      <text/>
                    </element>
                    <element name="testimonium-text">
                      <element name="testimonium-ref">
                        <text/>
                      </element>
                      <element name="testimonium-original-text">
                        <oneOrMore>
                          <choice>
                            <text/>
                            <ref name="l"/>
                            <ref name="p"/>
                          </choice>
                        </oneOrMore>
                      </element>
                      <element name="testimonium-translation-text">
                        <oneOrMore>
                          <choice>
                            <text/>
                            <ref name="l"/>
                            <ref name="p"/>
                          </choice>
                        </oneOrMore>
                      </element>
                    </element>
                  </choice>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="comedy-fragments">
            <oneOrMore>
              <element name="fragment">
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
                <element name="fragment-number">
                  <text/>
                </element>
                <element name="fragment-text">
                  <element name="fr-original">
                    <element name="text">
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="l"/>
                        </choice>
                      </oneOrMore>
                    </element>
                    <element name="apparatus">
                      <oneOrMore>
                        <choice>
                          <text/>
                          <element name="app-entry">
                            <text/>
                          </element>
                        </choice>
                      </oneOrMore>
                    </element>
                  </element>
                  <element name="fr-translation">
                    <oneOrMore>
                      <ref name="l"/>
                    </oneOrMore>
                  </element>
                </element>
                <element name="citation-context">
                  <oneOrMore>
                    <element name="ct">
                      <element name="ct-ref">
                        <text/>
                      </element>
                      <choice>
                        <element name="ct-text">
                          <oneOrMore>
                            <choice>
                              <text/>
                              <ref name="ct-original"/>
                              <ref name="ct-translation"/>
                            </choice>
                          </oneOrMore>
                        </element>
                        <group>
                          <ref name="ct-original"/>
                          <ref name="ct-translation"/>
                        </group>
                      </choice>
                    </element>
                  </oneOrMore>
                </element>
                <element name="metrum">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="l"/>
                      <element name="mtr-declaration">
                        <oneOrMore>
                          <choice>
                            <text/>
                            <ref name="p"/>
                          </choice>
                        </oneOrMore>
                      </element>
                      <element name="mtr-schema">
                        <oneOrMore>
                          <ref name="l"/>
                        </oneOrMore>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
                <ref name="discussions"/>
                <oneOrMore>
                  <ref name="section"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <element name="lemma">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="discussions">
    <element name="discussions">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="head"/>
          <element name="biblEntry">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="section">
    <element name="section">
      <optional>
        <attribute name="n">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="head"/>
          <ref name="p"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="l">
    <element name="l">
      <text/>
    </element>
  </define>
  <define name="ct-translation">
    <element name="ct-translation">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="p"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ct-original">
    <element name="ct-original">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="p"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <text/>
    </element>
  </define>
</grammar>
